$spotify-primary: #1DB954;
$spotify-black: #191414;
$applemusic-primary: #f94c57;
$white: #FFFFFF;
$black: #000000;

.authorizer {
    border-radius: 25px;
    box-shadow: 0px 1rem 1.5rem rgba(black, 0.5);
    padding: 10px 20px;

    &-spotify {
        background-color: $white;
        color: $spotify-primary;
    }

    &-applemusic {
        background-color: $white;
        color: $applemusic-primary;
    }


}
