$primary: #4da6ff;
$color-black: #000;
$color-white: #FFF;
$contains: #33cc00;
$doesNotContain: #ff1a1a;
$createPlaylist: #ffcc00;

.modish-input-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    .input-bar {
      width: 70%;
      padding: 22px 18px;
      border-radius: 20px;
      box-shadow: 0 0 5px rgba(221, 153, 255, 0.8);
      outline: none;


      &:focus {
        box-shadow: 0 0 20px 5px rgba(221, 153, 255, 0.8);
      }
    }

    .input-tab {
        z-index: 1;
        background-color: $color-white;
        color: $color-white;
        box-shadow: 0 0 5px #7f8ff4;
        border-radius: 15px;
        padding: 25px 36px;
        margin-left: -11%;
      }


  }

  .input-contains {
    * {
      box-shadow: 0 0 5px #44ff82 !important;
      &:focus {
        box-shadow: 0 0 20px 5px #44ff82 !important;
      }
    }
  }

  .input-does-not-contain {
    > * {
      box-shadow: 0 0 5px #fd5b5b !important;
      &:focus {
        box-shadow: 0 0 20px 5px #fd5b5b !important;
      }
    }
  }

  .create-playlist {
    font-size: 15px;
    color: $createPlaylist;
    margin-top: 10px;
    text-decoration: underline;
  }
}
