$primary: #4da6ff;

.music-wrapper {
    width: 90%;
    box-shadow: 0 0 7px rgba($primary , 0.8);
    padding: 10px 20px;
    border-radius: 20px;

    @media screen and (min-width: 768px) {
        width: 80%;
        padding: 10px 20px;

    }
}

.music-header {
    position: relative;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba($primary , 0.8);
    border-radius: 20px;
    top: -60px;
    background-color: #FFF;
    font-family: crayonFontHeavy;
    
    @media screen and (min-width: 768px) {
    }
}

.authorizer-button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-family: crayonFontLight;
    font-size: 25px;
}

.playlist-checker {
    p {
        text-align: center;
    }

    .confirm-wrapper {
        background-color: blue;
        color: white;
        width: 100%;
    
    }
}

@font-face {
	font-family: crayonFontHeavy;
	src: url("../../fonts/dk-cool-crayon-font/DkCoolCrayon-xJyV.ttf");
}

@font-face {
	font-family: crayonFontLight;
	src: url("../../fonts/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf");
}
