$primary: #4da6ff;
$secondary: #ffff1a;
$tertiary: rgb(158, 131, 12);

.sync {
    border-radius: 20px;
	padding: 20px;
	// background: linear-gradient( $primary, #77ff33 80%, $secondary);
	box-shadow: 0 0 7px rgba($primary , 0.8);
	color: rgb(178, 93, 199);
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	font-family: crayonFontLight;
	font-size: 25px;
	margin-bottom: 100px;

	&[disabled] {
        opacity: 0.5;
		cursor: not-allowed;
	}
	
	&--marquee {
		color: transparent;
		&:before {
			content: attr(data-marquee);
			color: rgb(178, 93, 199);
			position: absolute;
			animation: scrolling 15s linear infinite;
		}

		&:hover {
			box-shadow: 1px 1px 3px 3px $primary;
		}
	}

	&--slidemation {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #77ff33;
			transition: all 450ms;
		}

		&:hover:after, &:active::after {
			content: "Sync";
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgb(178, 93, 199);
			left: 0;
		}
	}
}

@keyframes scrolling {
	from {
		transform: translatex(calc(100% + 30px));
	}
	to {
		transform: translatex(calc(-100% - 30px));
	}
}

@font-face {
	font-family: crayonFontLight;
	src: url("../../fonts/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf");
}