$primary: #4da6ff;
$secondary: #77ff33;
$tertiary: #b25dc7;

.sync-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	width: 100%;
	counter-reset: step;
	display: flex;
	flex-direction: row;
	text-align: center;
	position: relative;

	li {
		width: 40%;
		position: relative;

		&::before {
			content: counter(step);
			counter-increment: step;
			width: 30px;
			height: 30px;
			border: 2px solid #bebebe;
			display: block;
			margin: 0 auto 10px auto;
			border-radius: 50%;
			line-height: 27px;
			background: white;
			color: #bebebe;
		}

		&.active::before{
			animation: stepFill 0.5s linear 2s 1 normal both;
		}

		&.active:first-child::before{
			border-color: $secondary;
			color: $secondary;
			animation: none
		}

		&::after {
			content: '';
			position: absolute;
			width:100%;
			height: 3px;
			background: #bebebe;
			top: 15px;
			left: -50%;
			z-index: -1;
		}

		&.active::after {
			background: repeating-linear-gradient(to right, #bebebe 0%, #bebebe 50%, $secondary 50%, $secondary 100%);
			background-size: 200% auto;
			background-position: 0 100%;
			animation: gradient 2s linear forwards 1;
		}
		
		&:first-child::after {
			animation: none;
			content: none;
		}
	}
}

.sync {
    border-radius: 20px;
	box-shadow: 0 0 7px rgba($primary , 0.8);
	color: rgba($tertiary, 0.5);
	text-transform: uppercase;
	position: relative;
	// overflow: hidden;
	font-family: system-ui, sans-serif;;
	font-size: 23px;
	margin-bottom: 100px;
	background: white;
	position: relative;
	margin-top: 100px;
	padding: 20px;


	&:focus {
		outline: 0;
	}

	&[disabled] {
        opacity: 0.5;
		cursor: not-allowed;
	}

	&:hover {
		box-shadow: 0 0 10px $primary;
	}
}

@keyframes stepFill {
	from {
		border-color: #bebebe;
		color: #bebebe;
	} to {
		border-color: $secondary;
		color: $secondary;
	}
	
}

@keyframes gradient { 
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -100% 0;
	}
}