Django @ file:///tmp/build/80754af9/django_1601563330930/work
django-cors-headers==3.2.1
djangorestframework==3.12.2
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1607975959065/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1607737242877/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1604159583689/work
ipython-genutils==0.2.0
isort==4.3.21
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1609162420641/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1606567929745/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1602267318042/work
masstable==0.2.1
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1605115663118/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
psycopg2==2.8.4
ptyprocess==0.6.0
py @ file:///home/conda/feedstock_root/build_artifacts/py_1607783655754/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1602277862089/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
PyJWT==1.7.1
pylint==2.4.4
pylint-django==2.0.11
pylint-plugin-utils @ file:///home/conda/feedstock_root/build_artifacts/pylint-plugin-utils_1604605879834/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1605115633411/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1602326930468/work
pytest==6.2.1
pytest-arraydiff==0.3
pytest-astropy @ file:///home/conda/feedstock_root/build_artifacts/pytest-astropy_1604861258857/work
pytest-astropy-header==0.1.2
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1597431289864/work
pytest-doctestplus @ file:///home/conda/feedstock_root/build_artifacts/pytest-doctestplus_1604779228014/work
pytest-filter-subpackage @ file:///home/conda/feedstock_root/build_artifacts/pytest-filter-subpackage_1591393389500/work
pytest-mock @ file:///home/conda/feedstock_root/build_artifacts/pytest-mock_1608041457015/work
pytest-openfiles @ file:///home/conda/feedstock_root/build_artifacts/pytest-openfiles_1591909410901/work
pytest-remotedata @ file:///home/conda/feedstock_root/build_artifacts/pytest-remotedata_1600536992671/work
python-dateutil==2.8.1
pyzmq==20.0.0
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1608556742723/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1602430345474/work
seaborn==0.9.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
SQLAlchemy==1.3.15
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
